includes:
  - common.neon
  - %rootDir%/../../phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: max

  # Encourage explicitness
  inferPrivatePropertyTypeFromConstructor: true

  # Helpful sanity check: fail if an @ignore pattern doesn't match anything
  reportUnmatchedIgnoredErrors: true
